body{
    height: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.footer >.footer-icons a{
    text-decoration: none;
    color:black;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    font-size: 28px;
    margin-bottom: 1%;
}